<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.4.7/dist/flowbite.min.css" />
    <title>About us</title>
</head>

<body>
    <header class="m-0">
        <nav class="bg-[#112D4E] border-[#707070] px-2 py-2.5 dark:bg-gray-800 mb-20">
            <div class="container mx-auto flex flex-wrap justify-center items-center">
                <a href="index" class="flex items-center">
                    <img src="/docs/images/logo.svg" class="mr-3 h-6 sm:h-9" alt="Logo">
                    <span class="self-center text-xl font-semibold whitespace-nowrap text-white dark:text-white">Nama
                        Aplikasi</span>
                </a>

            </div>
        </nav>
    </header>
    <main>
        <div class="container grid grid-cols-2 gap-16 w-full md:w-1/2 mx-auto">
            <!-- Ahmad Solikhin Gayuh Raharjo -->
            <div class="bg-[#DBE2EF] border-[#707070] rounded-xl w-full shadow-md overflow-hidden m-8">
                <div class="md:flex">
                    <div class="md:shrink-0">
                        <img class="h-48 w-full object-cover md:h-full md:w-48" src="static/Asset/gayuh.jpg"
                            alt="Emoji">
                    </div>
                    <div class="p-8">
                        <div class="uppercase tracking-wide text-xl text-indigo-500 font-semibold pb-4">Ahmad Solikhin
                            Gayuh
                            Raharjo
                        </div>
                        <a href="#" class="block mt-1 text-lg leading-tight font-medium text-black hover:underline">Data
                            Scientist
                        </a>
                        <p class="mt-2 text-slate-500">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                            Corporis,
                            saepe. Tempore vitae debitis consequatur voluptatum perspiciatis, cumque, veniam nulla, sint
                            autem
                            tenetur odit qui esse ratione ab alias! Tempora, ducimus.</p>
                    </div>
                </div>
            </div>

            <!-- Ramadhan Ridho Arrohman -->
            <div class="bg-[#DBE2EF] border-[#707070] w-full rounded-xl shadow-md overflow-hidden m-8">
                <div class="md:flex">
                    <div class="md:shrink-0">
                        <img class="h-48 w-full object-cover md:h-full md:w-48" src="static/Asset/ridho.jpg"
                            alt="Emoji">
                    </div>
                    <div class="p-8">
                        <div class="uppercase tracking-wide text-xl text-indigo-500 font-semibold pb-4">Ramadhan Ridho
                            Arrohman
                        </div>
                        <a href="#" class="block mt-1 text-lg leading-tight font-medium text-black hover:underline">Data
                            Engineer</a>
                        <p class="mt-2 text-slate-500">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                            Corporis,
                            saepe. Tempore vitae debitis consequatur voluptatum perspiciatis, cumque, veniam nulla, sint
                            autem
                            tenetur odit qui esse ratione ab alias! Tempora, ducimus.</p>
                    </div>
                </div>
            </div>

            <!-- Rizki Mahjati Prie Husna -->
            <div class="bg-[#DBE2EF] border-[#707070] rounded-xl shadow-md overflow-hidden m-8">
                <div class="md:flex">
                    <div class="md:shrink-0">
                        <img class="h-48 w-full object-cover md:h-full md:w-48" src="static/Asset/kiki.jpg" alt="Emoji">
                    </div>
                    <div class="p-8">
                        <div class="uppercase tracking-wide text-xl text-indigo-500 font-semibold pb-4">Rizki Mahjati
                            Prie
                            Husna
                        </div>
                        <a href="#" class="block mt-1 text-lg leading-tight font-medium text-black hover:underline">Back
                            End
                            Developer</a>
                        <p class="mt-2 text-slate-500">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                            Corporis,
                            saepe. Tempore vitae debitis consequatur voluptatum perspiciatis, cumque, veniam nulla, sint
                            autem
                            tenetur odit qui esse ratione ab alias! Tempora, ducimus.</p>
                    </div>
                </div>
            </div>

            <!-- Amanda Rizkyta Hamidah -->
            <div class="bg-[#DBE2EF] border-[#707070] rounded-xl shadow-md overflow-hidden m-8">
                <div class="md:flex">
                    <div class="md:shrink-0">
                        <img class="h-48 w-full object-cover md:h-full md:w-48" src="static/Asset/amanda.jpg"
                            alt="Emoji">
                    </div>
                    <div class="p-8">
                        <div class="uppercase tracking-wide text-xl text-indigo-500 font-semibold pb-4">Amanda Rizkyta
                            Hamidah
                        </div>
                        <a href="#" class="block mt-1 text-lg leading-tight font-medium text-black hover:underline">UI
                            UX
                            Designer</a>
                        <p class="mt-2 text-slate-500">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                            Corporis,
                            saepe. Tempore vitae debitis consequatur voluptatum perspiciatis, cumque, veniam nulla, sint
                            autem
                            tenetur odit qui esse ratione ab alias! Tempora, ducimus.</p>
                    </div>
                </div>
            </div>

            <!-- Tiara Lailatul Nikmah -->
            <div class="bg-[#DBE2EF] border-[#707070] rounded-xl shadow-md overflow-hidden m-8">
                <div class="md:flex">
                    <div class="md:shrink-0">
                        <img class="h-48 w-full object-cover md:h-full md:w-48" src="static/Asset/tiara.jpg"
                            alt="Emoji">
                    </div>
                    <div class="p-8">
                        <div class="uppercase tracking-wide text-xl text-indigo-500 font-semibold pb-4">Tiara Lailatul
                            Nikmah
                        </div>
                        <a href="#"
                            class="block mt-1 text-lg leading-tight font-medium text-black hover:underline">Front-End
                            Developer</a>
                        <p class="mt-2 text-slate-500">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                            Corporis,
                            saepe. Tempore vitae debitis consequatur voluptatum perspiciatis, cumque, veniam nulla, sint
                            autem
                            tenetur odit qui esse ratione ab alias! Tempora, ducimus.</p>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer
        class="bg-[#112D4E] border-[#707070] shadow md:flex md:items-center justify-between p-4 dark:bg-gray-800 bottom-0">
        <span class="text-sm justify-center items-center text-white sm:text-center dark:text-white">&#169; All Rights
            Reserved
            Copyright 2022</span>
        <ul class="flex flex-wrap items-center mt-3 text-sm text-white dark:text-gray-400 sm:mt-0">

            <li>
                <a href="about_us" class="mr-6 text-white">
                    ABOUT US
                </a>
            </li>
            <li>
                <a href="#!" class="mr-6 text-white">
                    TERMS
                </a>
            </li>
            <li>
                <a href="#!" class="mr-6 text-white">
                    PRIVACY POLICY
                </a>
            </li>

        </ul>
    </footer>
    <script src="https://unpkg.com/flowbite@1.4.7/dist/flowbite.js"></script>
</body>

</html>