<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitur 2</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        .dropdown:hover .dropdown-menu {
            display: block;
        }
    </style>
</head>

<body class="flex flex-col container min-h-screen w-fu font-mono">
    <header class="m-0 w-full">
        <nav class="bg-[#112D4E] border-[#707070] px-2 py-2.5 dark:bg-gray-800 mb-20 w-full">
            <div class="container flex flex-wrap justify-between items-center">
                <a href="{{ url_for('index') }}" class="flex items-center ml-10">
                    <img src="static/Asset/GOOCR.png" class="mr-3 h-6 sm:h-9" alt="Logo">
                    <span
                        class="self-center text-xl font-semibold whitespace-nowrap text-white dark:text-white">GOOCR</span>
                </a>
                <div class="flex md:order-1">
                    <button data-collapse-toggle="mobile-menu-4" type="button"
                        class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                        aria-controls="mobile-menu-4" aria-expanded="false">
                        <span class="sr-only">Open main menu</span>
                        <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <svg class="hidden w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </button>
                </div>
                <div class="hidden justify-between w-full md:flex md:w-auto md:order-1" id="mobile-menu-4">
                    <ul
                        class="flex flex-col justify-between md:items-center mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium mr-20">
                        <li>
                            <a href="{{ url_for('index') }}"
                                class="block py-2 pr-4 pl-3 text-white  md:p-0 hover:font-bold hover:font-bold">Home</a>
                        </li>
                        <li>
                            <a href="howitwork" class="block py-2 pr-4 pl-3 text-white  md:p-0 hover:font-bold">How it
                                works</a>
                        </li>
                        <li>
                            <a href="about_us" class="block py-2 pr-4 pl-3 text-white  md:p-0 hover:font-bold">About
                                Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main class="flex flex-col flex-grow">
        <div class="flex bg-[#DBE2EF] flex-col rounded-t-lg md:flex-row gap-x-6 mx-12 p-8">
            <div class="w-full text-center">
                <video id="video" class="m-auto rounded-md" width="640" height="480" autoplay></video>
                <button class="bg-[#3F72AF] text-white font-semibold py-2 px-4 rounded inline-flex items-center m-3"
                    id="snap">Snap Photo</button>
            </div>
            <div class="w-full h-3/4 text-center bg-white mx-auto">
                <h1 class="text-lg text-gray-500 mx-auto mt-2 mb-4 justify-center">Your Snap</h1>
                <canvas id="canvas" class="w-5/6 mx-auto mb-4" width=" 640" height="480"></canvas>

            </div>
        </div>
        <div class="mb-32">
            <div class="flex flex-col p-4 bg-[#DBE2EF] rounded-b-lg mx-12">
                <h2 class="ml-40 mb-4 text-[#3F72AF] text-lg">Select the Language</h2>
                <div class="flex flex-col md:flex-row">
                    <div class="flex-1  m-auto m-auto text-center">

                        <select class="dropdown inline-block p-4 bg-[#3F72AF] text-white relative" id="asal">
                            <button
                                class="bg-gray-300 text-black font-semibold py-2 px-4 rounded inline-flex items-center">
                                <svg class="fill-current h-4 w-4 text-black" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 20 20">
                                    <path
                                        d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                                </svg>
                            </button>
                            <ul class="dropdown-menu absolute hidden text-black pt-1">
                                {% for key, value in foobar.items() %}
                                <option value="{{ value }}"
                                    class="rounded-t bg-gray-200 hover:bg-gray-400 text-black py-2 px-4 block whitespace-no-wrap">
                                    {{ value }}</option>
                                {% endfor %}
                            </ul>
                        </select>
                    </div>
                    <div class="flex-2">
                        <p class="mb-4 mx-auto ml-56 mt-4 lg:mt-4 lg:-ml-4 text-[#3F72AF]">to</p>
                    </div>
                    <div class="flex-1 m-auto text-center">
                        <select class="dropdown inline-block p-4 bg-[#3F72AF] text-white relative" id="tujuan">
                            <button
                                class="bg-gray-300 text-gray-700 font-semibold py-2 px-4 rounded inline-flex items-center">
                                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 20 20">
                                    <path
                                        d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                                </svg>
                            </button>
                            <ul class="dropdown-menu absolute hidden text-gray-700 pt-1">
                                {% for key, value in foobar.items() %}
                                <option value="{{ value }}"
                                    class="rounded-t bg-gray-200 hover:bg-gray-400 text-black py-2 px-4 block whitespace-no-wrap">
                                    {{ value }}</option>
                                {% endfor %}
                            </ul>
                        </select>
                    </div>
                </div>
                <button class="mx-auto my-10 w-44 p-4 bg-[#3F72AF] text-white text-center cursor-pointer rounded-md"
                    type="submit" id="submit" value="Lanjutkan">Process</button>
            </div>

        </div>

    </main>
    <footer class="flex-none">
        <div class="container py-4 text-center bg-[#1F2937]">
            <span class="text-base text-white">© All Rights Reserved Copyright 2022</span>
        </div>
    </footer>

    <script>

        var video = document.getElementById('video');
        if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
            navigator.mediaDevices.getUserMedia({ video: true }).then(function (stream) {
                //video.src = window.URL.createObjectURL(stream);
                video.srcObject = stream;
                video.play();
            });
        }

        var canvas = document.getElementById('canvas');
        var context = canvas.getContext('2d');

        // Trigger photo take
        document.getElementById("snap").addEventListener("click", function () {
            context.drawImage(video, 0, 0);
        });


        document.getElementById("submit").addEventListener("click", function () {

            var asal = document.getElementById('asal').value;
            var tujuan = document.getElementById('tujuan').value;

            var request = new XMLHttpRequest();
            request.open('POST', '/submit?image=' + canvas.toDataURL('image/jpeg', 0.8) + '&asal=' + asal + '&tujuan=' + tujuan, true);
            request.responseType = 'json'
            request.send();

            request.onload = function () {
                let responseObj = request.response;
                console.log(responseObj)
                window.location.href = responseObj.redirect
            };

            // console.log(asal)
            // console.log(tujuan)
        })



    </script>
    <script src="https://unpkg.com/flowbite@1.4.7/dist/flowbite.js"></script>
</body>