<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>

<body>
    <div class="container mt-40" id="fitur">
        <div class="grid md:grid-cols-2 gap-16 md:w-5/12 w-1/2 mx-auto">
            <div class="h-80 bg-slate-500">
                <a href="fitur1" class="cursor-pointer">
                    <div class="flex w-full h-full text-center flex-col flex-auto">
                        <div><img class="scale-50 md:shrink-0" src="../static/Asset/images icon.png" alt="photo">
                        </div>
                        <div class="text-xl text-white">Images to Teks
                        </div>
                    </div>
                </a>
            </div>
            <div class="h-80 bg-slate-500">
                <a href="fitur2" class="cursor-pointer">
                    <div class="flex w-full h-full text-center flex-col">
                        <div><img class="scale-50 md:shrink-0" src="../Asset/camera icon.png" alt="camera">
                        </div>
                        <div class="text-xl text-white text-center">Real time translate using webcam</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>

</html>