<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitur 2</title>
</head>

<body>
    <header>
        <div class="container bg-slate-700 py-4 text-center">
            <span class="md:text-xl text-base text-white">Navigasi</span>
        </div>
    </header>
    <h1>Fitur 2</h1>
    <a href="{{ url_for('index') }}">Back</a>
</body>

</html>