<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitur 1</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.4.7/dist/flowbite.min.css" />
    {{ dropzone.load_css() }}
    {{ dropzone.style('border: 2px dashed #0087F7;') }}
</head>

<body>
    <header class="m-0">
        <nav class="bg-[#112D4E] border-[#707070] px-2 py-2.5 dark:bg-gray-800">
            <div class="container mx-auto flex flex-wrap justify-center items-center">
                <a href="{{ url_for('index') }}" class="flex items-center">
                    <img src="/docs/images/logo.svg" class="mr-3 h-6 sm:h-9" alt="Logo">
                    <span class="self-center text-xl font-semibold whitespace-nowrap text-white dark:text-white">Nama
                        Aplikasi</span>
                </a>

            </div>
        </nav>
    </header>
    <main class="flex w-full">
        <div class="flex flex-col md:flex-row container w-full">
            <div class="bg-[#DBE2EF] border-[#707070] basis-1/2 md:flex-1 md:bg-[#DBE2EF]">
                <img src="/static/Asset/infograf.svg" class="scale-25" alt="Infografik">

            </div>
            <div class="flex md:mx-auto flex-2 p-4 basis-1/2 bg-white w-1/2 h-full text-center">
                <div class="w-full mx-auto">
                    <h2 class="text-2xl font-bold mt-10">Pengenalan Tulisan Pada Gambar</h2>
                    <h3>Silakan Upload Gambar Anda</h3>
                    <form class="w-3/4 mx-auto my-6 " action="{{ url_for('upload_file') }}" method="POST"
                        enctype="multipart/form-data">
                        <img class="scale-75 mx-auto" src="static/Asset/upload.png" alt="Cloud upload_file">
                        {{ dropzone.create() }}
                        <input class="mt-4 p-4 bg-slate-700 text-white text-center" type="submit" id="submit"
                            value="Upload">
                    </form>
                    <!-- <h1>Fitur 1</h1> -->
                    <!-- <a href="{{ url_for('index') }}">Back</a> -->
                </div>
            </div>
        </div>
    </main>

    <footer
        class="bg-[#112D4E] border-[#707070] shadow md:flex md:items-center justify-between p-4 dark:bg-gray-800 bottom-0">
        <span class="text-sm justify-center items-center text-white sm:text-center dark:text-white">&#169; All Rights
            Reserved
            Copyright 2022</span>
        <ul class="flex flex-wrap items-center mt-3 text-sm text-white dark:text-gray-400 sm:mt-0">

            <li>
                <a href="about_us" class="mr-6 text-white">
                    ABOUT US
                </a>
            </li>
            <li>
                <a href="#!" class="mr-6 text-white">
                    TERMS
                </a>
            </li>
            <li>
                <a href="#!" class="mr-6 text-white">
                    PRIVACY POLICY
                </a>
            </li>

        </ul>
    </footer>
    {{ dropzone.load_js() }}
    {{ dropzone.config() }}
    <script src="https://unpkg.com/flowbite@1.4.7/dist/flowbite.js"></script>
</body>

</html>