<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GOOCR</title>
    <script src="https://cdn.tailwindcss.com"></script>
    {{ dropzone.load_css() }}
    {{ dropzone.style('border: 2px dashed #0087F7;') }}
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.4.7/dist/flowbite.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap" rel="stylesheet">
</head>
<body class="flex flex-col container min-h-screen w-full font-mono">
      <header class="flex-none">
        <nav class="bg-[#1F2937] px-2 py-2.5 dark:bg-gray-800">
            <div class="container flex flex-wrap justify-between items-center">
                <a href="{{ url_for('index') }}" class="flex items-center md:ml-10">
                    <img src="{{ url_for('static', filename='asset/GOOCR2.png')}}" class="mr-3 h-6 sm:h-9" alt="Logo">
                    <span
                        class="self-center text-xl font-semibold whitespace-nowrap text-white dark:text-white">GOOCR</span>
                </a>
                <div class="flex md:order-1">
                    <button data-collapse-toggle="mobile-menu-4" type="button"
                        class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                        aria-controls="mobile-menu-4" aria-expanded="false">
                        <span class="sr-only">Open main menu</span>
                        <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <svg class="hidden w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </button>
                </div>
                <div class="hidden justify-between w-full md:flex md:w-auto md:order-1" id="mobile-menu-4">
                    <ul
                        class="flex flex-col justify-between md:items-center mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium mr-20">
                        <li>
                            <a href="{{ url_for('index') }}"
                                class="block py-2 pr-4 pl-3 text-white  md:p-0 hover:font-bold">Home</a>
                        </li>
                        <li>
                            <a href="howitwork"
                                class="block py-2 pr-4 pl-3 text-white  md:p-0 hover:font-bold">How it works</a>
                        </li>
                        <li>
                            <a href="about_us"
                                class="block py-2 pr-4 pl-3 text-white  md:p-0 hover:font-bold">About Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main class="flex flex-grow">
      <div class="flex flex-col md:flex-row container w-full">
        <div class="bg-[#DBE2EF] border-[#707070]  md:flex-1 md:bg-[#DBE2EF] invisible h-0 md:visible md:h-auto">
          <img src="{{ url_for('static', filename='asset/infograf.svg')}}" class="h-0 md:h-auto scale-25  -py-100" alt="Infografik">
  
        </div>
        <div class="flex mb-4 md:m-auto flex-1 bg-white w-full h-full text-center">
          <div class="w-full m-auto">
            {% if pesan != None %}
            <h1>{{pesan}}</h1>
            {% endif %}
            <h2 class="text-2xl font-bold mt-8">Pengenalan Tulisan Pada Gambar</h2>
            <h3>Silakan Upload Gambar Anda</h3>
            <p class="text-xs">(*PNG, JPG, PDF)</p>
            <img class="scale-75 mx-auto" src="{{ url_for('static', filename='asset/upload.png')}}" alt="Cloud upload_file">
            <div class="w-3/4 m-auto">
              {{ dropzone.create(action='fitur1pdf') }}
            </div>
  
            <form class="w-3/4 m-auto" action="{{ url_for('to_pdf') }}" method="POST">
              <input class="mt-4 p-4 w-44 bg-[#3F72AF] text-white text-center cursor-pointer rounded-lg" type="submit" id="submit"
                value="Upload" />
            </form>
            <!-- <h1>Fitur 1</h1> -->
            <!-- <a href="{{ url_for('index') }}">Back</a> -->
          </div>
        </div>
      </div>
    </main>
    
    <footer class="flex-none">
      <div class="container py-4 text-center bottom bg-[#112D4E]">
        <span class="text-base text-white">© All Rights Reserved Copyright 2022</span>
      </div>
    </footer>
    {{ dropzone.load_js() }}
    {{ dropzone.config() }}
</body>
<script src="https://unpkg.com/flowbite@1.4.7/dist/flowbite.js"></script>
</html>