<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitur 1</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        .dropdown:hover .dropdown-menu {
            display: block;
        }
    </style>
</head>

<body class="flex flex-col min-h-screen w-full">
    <header class="m-0">
        <nav class="bg-[#112D4E] border-[#707070] px-2 py-2.5 dark:bg-gray-800 mb-20">
            <div class="container mx-auto flex flex-wrap justify-center items-center">
                <a href="index" class="flex items-center">
                    <img src="/docs/images/logo.svg" class="mr-3 h-6 sm:h-9" alt="Logo">
                    <span class="self-center text-xl font-semibold whitespace-nowrap text-white dark:text-white">Nama
                        Aplikasi</span>
                </a>
            </div>
        </nav>
    </header>
    <main class="flex flex-grow">
        <div class="flex flex-col gap-16 md:flex-row container w-full">
            <div class="flex flex-1 w-full h-full">
                <div class="w-3/4 m-auto">
                    <h2
                        class="text-lg font-semibold mx-auto bg-[#3F72AF] text-white py-1 px-4 rounded inline-flex items-center">
                        Hasil</h2>
                    <!-- enakan pake textarea tapi disable trus pake js bisa dicopas -->
                    <div class=" bg-[#DBE2EF] border-[#707070] w-full h-72 p-4 text-center">
                        <div><img class="w-1/3 md:shrink-0 mx-auto" src="static/Asset/success.png" alt="success">
                        </div>
                        <h2 class="text-lg text-black font-bold">Succesfull</h2>
                        <p class="text-sm text-black mb-8">The Images have been converted to PDF</p>
                        <a href="fitur2"
                            class="text-base font-semibold mx-auto text-white bg-[#3F72AF] w-40 h-12 py-3 px-8 rounded hover:shadow-lg hover:opacity-80 transition duration-300 ease-in-out">Download
                            File</a>
                    </div>
                </div>
            </div>
            <div class="flex mb-4 md:m-auto flex-1 bg-white w-full h-full">
                <div class="w-3/4 m-auto">
                    <div class="dropdown inline-block relative">
                        <button
                            class="bg-[#3F72AF] text-white font-semibold py-2 px-4 rounded inline-flex items-center">
                            <span class="mr-1">Pilih Bahasa</span>
                            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                            </svg>
                        </button>
                        <ul class="dropdown-menu absolute hidden text-gray-700 pt-1">
                            <li class=""><a
                                    class="rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap"
                                    href="#">One</a></li>
                            <li class=""><a class="bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap"
                                    href="#">Two</a></li>
                            <li class=""><a
                                    class="rounded-b bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap"
                                    href="#">Three is the magic number</a></li>
                        </ul>
                    </div>
                    <!-- enakan pake textarea tapi disable trus pake js bisa dicopas -->
                    <div class="w-full bg-[#DBE2EF] border-[#707070] h-72 text-center">
                        <h2 class="text-lg text-gray-500">Your Translate </h2>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer
        class="bg-[#112D4E] border-[#707070] shadow md:flex md:items-center justify-between p-4 dark:bg-gray-800 bottom-0">
        <span class="text-sm justify-center items-center text-white sm:text-center dark:text-white">&#169; All Rights
            Reserved
            Copyright 2022</span>
        <ul class="flex flex-wrap items-center mt-3 text-sm text-white dark:text-gray-400 sm:mt-0">

            <li>
                <a href="about_us" class="mr-6 text-white">
                    ABOUT US
                </a>
            </li>
            <li>
                <a href="#!" class="mr-6 text-white">
                    TERMS
                </a>
            </li>
            <li>
                <a href="#!" class="mr-6 text-white">
                    PRIVACY POLICY
                </a>
            </li>

        </ul>
    </footer>
    <script src="https://unpkg.com/flowbite@1.4.7/dist/flowbite.js"></script>
</body>

</html>