<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PA Orbit:Mainpage</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="relative container h-screen w-full">
    <header>
        <div class="container bg-slate-700 py-4 text-center">
            <span class="md:text-xl text-base text-white">Navigasi</span>
        </div>
    </header>
    <main>
        <div class="container bg-slate-700 text-center h-[25rem]">
            <div class="container pt-32">
                <h2 class="text-5xl text-white pb-6">Text</h2>
                <span class="text-lg text-white">Subtext</span>
            </div>
        </div>
        <div class="container" id="fitur">
            <div class="grid md:grid-cols-2 gap-16 md:w-2/5 w-1/2 mx-auto -my-16">
                <div class="h-44 bg-slate-500">
                    <a href="fitur1" class="cursor-pointer">
                        <div class="flex w-full h-full text-center">
                            <p class="m-auto text-xl text-white">Fitur 1</p>
                        </div>
                    </a>
                </div>
                <div class="h-44 bg-slate-500">
                    <a href="fitur2" class="cursor-pointer">
                        <div class="flex w-full h-full text-center">
                            <p class="m-auto text-xl text-white">Fitur 2</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="container py-4 text-center fixed bottom-0">
            <span class="md:text-xl text-base">Footer</span>
        </div>
    </footer>
</body>
</html>