<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitur 2</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="flex flex-col container min-h-screen w-full">
    <header class="flex-none">
        <div class="container bg-slate-700 py-4 text-center">
            <span class="md:text-xl text-base text-white">Navigasi</span>
        </div>
    </header>
    <main class="flex flex-col flex-grow">
        <h1>Hasil PDF</h1>

        <a href="{{url_for('save_file')}}">Download</a>
    </main>
    
    <footer class="flex-none">
        <div class="container bg-white py-4 text-center bottom-0">
            <span class="md:text-xl text-base">Footer</span>
        </div>
    </footer>

</body>
</html>