<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GOOCR</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        .dropdown:hover .dropdown-menu {
            display: block;
        }
    </style>
</head>
<body class="flex flex-col container min-h-screen w-full">
    <header class="flex-none">
        <div class="container bg-slate-700 py-4 text-center">
            <span class="md:text-xl text-base text-white">Navigasi</span>
        </div>
    </header>
    <main class="flex flex-grow">
        <form class="flex flex-col container w-full m-12" action="{{ url_for('save_file') }}" method="post">
        <div>
            <div class="w-full m-4">
                <input name="action" type="submit" class="bg-slate-700 p-4 rounded-md cursor-pointer text-white float-right" value="Unduh PDF Terjemahan">
            </div>
            {% if basefile == 'gambar' %}
            <div class="flex md:flex-row flex-col flex-1 bg-white w-full h-full gap-x-6">
                <div class="w-3/4 md:m-0 m-auto">
                    
                    <!-- enakan pake textarea tapi disable trus pake js bisa dicopas -->
                    <h2 class="text-lg mb-4">Hasil</h2>
                    
                    {% for key,value in asal.items() %}
                    <h2 class="text-base mb-4">Gambar ke-{{key}}</h2>
                    <div class=" bg-slate-700 w-full text-center mb-4 p-4 rounded-md">
                        <textarea name="hasil[]" class=" h-72 bg-slate-700 w-full text-lg text-white border-transparant">
                        {% for i in value %}
                            {{i}}
                        {% endfor %}
                        </textarea>
                    </div>
                    {% endfor %}
                </div> 
                <div class="w-3/4 md:m-0 m-auto">
                    
                    <!-- enakan pake textarea tapi disable trus pake js bisa dicopas -->
                    <h2 class="text-lg mb-4">Hasil Terjemahan</h2>
                    {% for key,value in tujuan.items() %}
                    <h2 class="text-base mb-4">Gambar ke-{{key}}</h2>
                    <div class="w-full bg-slate-700 text-center mb-4 p-4 rounded-md">
                        <textarea name="hasilter[]" class=" h-72 bg-slate-700 w-full text-lg text-white border-transparant">
                            {% for i in value %}
                                {{i}}
                            {% endfor %}
                        </textarea>
                    </div>
                    {% endfor %}
                </div> 
            </div>
            {% elif basefile == 'pdf' %}
            <div class="flex flex-1 bg-white w-full h-full gap-x-6">
                <div class="w-3/4">
                    
                    <!-- enakan pake textarea tapi disable trus pake js bisa dicopas -->
                    <h2 class="text-lg mb-4">Hasil</h2>
                    
                    {% for key,value in asal.items() %}
                    <h2 class="text-base mb-4">Halaman ke-{{key}}</h2>
                    <div class=" bg-slate-700 w-full text-center mb-4 p-4 rounded-md">
                        <textarea name="hasil[]" class=" h-72 bg-slate-700 w-full text-lg text-white border-transparant">
                            {% for i in value %}
                                {{i}}
                            {% endfor %}
                        </textarea>
                    </div>
                    {% endfor %}
                </div> 
                <div class="w-3/4">
                    
                    <!-- enakan pake textarea tapi disable trus pake js bisa dicopas -->
                    <h2 class="text-lg mb-4">Hasil Terjemahan</h2>
                    {% for key,value in tujuan.items() %}
                    <h2 class="text-base mb-4">Halaman ke-{{key}}</h2>
                    <div class="w-full bg-slate-700 text-center mb-4 p-4 rounded-md">
                        <textarea name="hasilter[]" class=" h-72 bg-slate-700 w-full text-lg text-white border-transparant">
                            {% for i in value %}
                                {{i}}
                            {% endfor %}
                        </textarea>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div> 
            </div>
        </div>
        </form>
    </main>
    
    <footer class="flex-none">
        <div class="container bg-white py-4 text-center bottom-0">
            <span class="md:text-xl text-base">Footer</span>
        </div>
    </footer>
</body>
</html>